.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  max-width: 800px;
  width: 100%;
}

mat-card-content {
  text-align: center;
}

mat-card-actions {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 22px;
}



mat-card-title {
  text-align: center;
  margin-bottom: 22px;
}

.custom-input {
  width: 60%;
}
