<div class="dashboard-container" *ngIf="isLoaded ; else loading">
  <div class="dashboard-header">
    <h1>Dashboard</h1>
  </div>
  <div class="dashboard-content">
    <mat-card class="dash-card mat-elevation-z7">
      <mat-card-header>
        <mat-card-title>
          <div class="dash-card-head">
            <h2>Orders</h2>
            <mat-icon>money</mat-icon>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dash-card-content">
        <div class="dash-card-count">
          Total Orders :
          {{orders.length}}
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Orders Status :
          </div>
          <div class="last-users-list">
            <div class="last-user" *ngFor="let status of orderStatusCount" [ngClass]="statusColors(status.status)">
              <div class="last-user-name">
                {{status.status}}
                {{status.count}}
              </div>
            </div>
          </div>
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Total Sales :
          </div>
          <div class="last-users-list">
            <div class="last-user" >
              <div class="total-sales">
                {{totalSales | currency}}
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="dash-card-actions">
        <button mat-flat-button routerLink="/orders">View Orders</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="dash-card mat-elevation-z7">
      <mat-card-header>
        <mat-card-title class="dash-card-head">
          <h2>Users</h2>
          <mat-icon>people</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dash-card-content">
        <div class="dash-card-count">
          Total Users :
          {{users.length}}
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Last 5 Users
          </div>
          <div class="last-users-list">
            <div class="last-user" *ngFor="let user of ( users | slice:users.length-5:users.length).reverse()">
              <div class="last-user-name">
                {{user.name}}
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="dash-card-actions">
        <button mat-flat-button routerLink="/users">View Users</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="dash-card mat-elevation-z7">
      <mat-card-header>
        <mat-card-title class="dash-card-head">
          <h2>Products</h2>
          <mat-icon>shopping_cart</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dash-card-content">
        <div class="dash-card-count">
          Total Products :
          {{products.length}}
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Top 5 Products
          </div>
          <div class="last-users-list">
            <div class="last-user" *ngFor="let product of Top5Products | slice:0:5 ; let i = index">
              <div class="last-user-name">
                {{product.product.name}}
                {{ProductIdAndCount[i].count}}
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="dash-card-actions">
        <button mat-flat-button routerLink="/users">View Products</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="dash-card mat-elevation-z7">
      <mat-card-header>
        <mat-card-title>
          <div class="dash-card-head">
            <h2>Payments</h2>
            <mat-icon>payment</mat-icon>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dash-card-content">
        <div class="dash-card-count">
          Total Payments :
          {{payments.length}}
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Payments Status :
          </div>
          <div class="last-users-list">
            <div class="last-user" *ngFor="let status of paymentStatusCount" [ngClass]="statusColors(status.status)">
              <div class="last-user-name">
                {{status.status}}
                {{status.count}}
              </div>
            </div>
          </div>
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Total Payments :
          </div>
          <div class="last-users-list">
            <div class="last-user" >
              <div class="total-sales">
                {{totalPayments | currency}}
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="dash-card-actions">
        <button mat-flat-button routerLink="/payments">View Payments</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
