<div class="container">
  <div class="card>">
    <mat-card>
      <mat-card-title>Users</mat-card-title>
      <mat-card-content>
        <div class="users-count">
          <span class="users-count__number">{{users.length}}</span>
          <span class="users-count__text">Users</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/users">View Users</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-title>Orders</mat-card-title>
      <mat-card-content>
        <div class="orders-count">
          <span class="orders-count__number">{{orders.length}}</span>
          <span class="orders-count__text">Orders</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/orders">View Orders</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-title>Products</mat-card-title>
      <mat-card-content>
        <div class="products-count">
          <span class="products-count__number">{{products.length}}</span>
          <span class="products-count__text">Products</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/products">View Products</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-title>Categories</mat-card-title>
      <mat-card-content>
        <div class="categories-count">
          <span class="categories-count__number">{{categories.length}}</span>
          <span class="categories-count__text">Categories</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/categories">View Categories</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-title>Discounts</mat-card-title>
      <mat-card-content>
        <div class="discounts-count">
          <span class="discounts-count__number">{{discounts.length}}</span>
          <span class="discounts-count__text">Discounts</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/discounts">View Discounts</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-title>Payments</mat-card-title>
      <mat-card-content>
        <div class="payments-count">
          <span class="payments-count__number">{{payments.length}}</span>
          <span class="payments-count__text">Payments</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/payments">View Payments</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
