<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Dashboard</h1>
  </div>
  <div class="dashboard-content">
    <mat-card class="dash-card mat-elevation-z7">
      <mat-card-header >
        <mat-card-title class="dash-card-head" >
          <h2>Users</h2>
            <mat-icon>people</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dash-card-content">
        <div class="dash-card-count">
          Total Users :
          {{users.length}}
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Last 5 Users
          </div>
          <div class="last-users-list">
            <div class="last-user" *ngFor="let user of users | slice:users.length-5:users.length">
              <div class="last-user-name">
                {{user.name}}
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="dash-card-actions">
        <button mat-flat-button routerLink="/users">View Users</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="dash-card mat-elevation-z7">
      <mat-card-header >
        <mat-card-title class="dash-card-head" >
          <h2>Products</h2>
          <mat-icon>shopping_cart</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dash-card-content">
        <div class="dash-card-count">
          Total Products :
          {{products.length}}
        </div>
        <div class="last-users">
          <div class="last-users-title">
            Top 5 Products
          </div>
          <div class="last-users-list">
            <div class="last-user" *ngFor="let product of products">
              <div class="last-user-name">
                {{product.name}}
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="dash-card-actions">
        <button mat-flat-button routerLink="/users">View Users</button>
      </mat-card-actions>
    </mat-card>



  </div>
</div>
