.total {
  color: #8a8282;
  padding: 10px;
  float: right;
}

table.mat-table {
  border-spacing: 0;
  width: 100%;
}
.plus-minus {
  display: flex;
  align-items: center;
}

.button-center {
  display: flex;
  justify-content: center;
}

.quantity {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
}

.cart-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center  ;
  flex-wrap: wrap;

}

.left-side-table {
  max-width: 100%;
}

.right-side-checkout {
  max-width: 100%;
  margin-top: 25px;
}

.checkout {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 40px;
}

.total {
  font-size: 20px;
  font-weight: bold;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.actions button:first-child {
  margin-right: 10px;
}

.margin-right {
  margin-right: 10px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  height: 39vh;
  overflow-y: auto;
}

.fotter {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 40px;
}
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39vh;
  font-size: 20px;
  font-weight: bold;
}
.empty-cart img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
