<form [formGroup]="form" (ngSubmit)="saveComment()">
<h1 mat-dialog-title >Add New Comment : </h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Insert Your Comment Here :</mat-label>
    <input style="height: 80px" matInput formControlName="text" >
    <mat-error *ngIf="form.controls['text'].hasError('required')">
      Name is <strong>required</strong>
    </mat-error>  </mat-form-field>
  <app-rating (onRating)="Handle($event)"></app-rating>
</div>
<div mat-dialog-actions>
   <button type="submit" mat-raised-button color="warn">Send  </button>
  <button   mat-raised-button [mat-dialog-close]="closeMessage" color="accent"> Cancel</button>

</div>
</form>
