img{
  width:100%;
  height: 400px;
  object-fit: contain;
}
.product-detail{
  margin-top: 40px;
  margin-bottom: 80px;
}


.container {
  justify-content: space-between;
  padding-bottom: 50px;
}
.image-div {
  margin-left: 30px;
}
.description {
  margin-left: 30px;
}
.user-image {
  max-width: 50px; /* Ajustez la largeur maximale selon vos besoins */
  max-height: 50px; /* Ajustez la hauteur maximale selon vos besoins */
  border-radius: 50%; /* Pour obtenir une forme circulaire */
  margin-bottom: 10px; /* Ajoutez une marge en bas pour l'espace */
}
.comments{
  display: flex;
  text-align: left;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -30px;
}
.commentdiscription{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.crd {
margin-top: -50px;
}
.circle-icon {
  width: 25px; /* ajustez la taille du cercle selon vos besoins */
  height: 25px;
  background-color: #2196F3; /* couleur de fond du cercle */
  border-radius: 50%; /* pour créer un cercle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.mat-icon-post {
  color: white; /* couleur de l'icône */
  font-size: 24px; /* ajustez la taille de l'icône selon vos besoins */
}

