img{
  width:100%;
  height: 400px;
  object-fit: contain;
}
.product-detail{
  margin-right: 40px;
  flex: 1;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  flex-wrap: wrap;
}

.rating{
  margin-top: 30px;
}

.image-div {
  margin-left: 20px;
  flex: 1
}
.description {
  margin-left: 30px;


}
.user-image {
  max-width: 50px; /* Ajustez la largeur maximale selon vos besoins */
  max-height: 50px; /* Ajustez la hauteur maximale selon vos besoins */
  border-radius: 50%; /* Pour obtenir une forme circulaire */
  margin-bottom: 10px; /* Ajoutez une marge en bas pour l'espace */
}

.circle-icon {
  width: 25px; /* ajustez la taille du cercle selon vos besoins */
  height: 25px;
  background-color: #2196F3; /* couleur de fond du cercle */
  border-radius: 50%; /* pour créer un cercle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 10px;
}

.mat-icon-post {
  color: white; /* couleur de l'icône */
  font-size: 24px; /* ajustez la taille de l'icône selon vos besoins */
}
.spinner-hover-the-back-ground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(9, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  margin-top: 10px;
  margin-bottom: 100px;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 6%;
}
.comment-header {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.comment-date {
  font-size: 12px;
  color: #9e9e9e;
  margin-left: 70px;
}
.comment-user {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.comment-text {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.div-comment {
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid #9e9e9e;
  border-radius: 30px;
  padding: 10px;
  flex: 1;
}
.comment-rating {
display: flex;
flex-direction: row;
  align-items: center;
}
.empty{
 display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}


.product-card {
  margin-left: 20px;
  width: 100%;
  margin-right: 30px;
}

.product-details {
  display: flex;
  justify-content: space-evenly;
}

.product-header {
  h1{
    margin: 0;
  }
  width: auto;
}

.special-price {
  color: green;
  margin: 0;
}

.price {
  color: green;
  margin: 0;
}

.product-info {
  max-width: 250px;
  margin-left: 10px;
}

.discount {
  color: red;
}

.rating {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.actions{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
