<mat-paginator [pageSizeOptions]="[10, 30, 50]" showFirstLastButtons></mat-paginator>
<mat-table [dataSource]="dataSource"  >

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef > ID </mat-header-cell>
    <mat-cell *matCellDef="let payment"> {{payment.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="order_id">
    <mat-header-cell *matHeaderCellDef > Order Id </mat-header-cell>
    <mat-cell *matCellDef="let payment"> {{payment.order_id}} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="Amount">
    <mat-header-cell *matHeaderCellDef > Amount </mat-header-cell>
    <mat-cell *matCellDef="let payment"> {{payment.amount | currency}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="payment_method">
    <mat-header-cell *matHeaderCellDef > Method </mat-header-cell>
    <mat-cell *matCellDef="let payment">
      <p>{{payment.payment_method}}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="payment_status">
    <mat-header-cell *matHeaderCellDef > Status </mat-header-cell>
    <mat-cell *matCellDef="let payment"> <p [ngClass]="statusColors(payment.payment_status)">{{payment.payment_status}}</p> </mat-cell>
  </ng-container>

  <!-- acceptPayment Column -->
  <ng-container matColumnDef="Accept">
    <mat-header-cell *matHeaderCellDef > Accept </mat-header-cell>
    <mat-cell *matCellDef="let payment"> <button mat-raised-button color="primary" (click)="openConfirmation(PaymentMessage.accept,PaymentMode.accept,payment.id)">Accept</button> </mat-cell>
  </ng-container>

  <!-- rejectPayment Column -->
  <ng-container matColumnDef="decline">
      <mat-header-cell *matHeaderCellDef > Decline </mat-header-cell>
    <mat-cell *matCellDef="let payment"> <button mat-raised-button color="warn" (click)="openConfirmation(PaymentMessage.decline,PaymentMode.decline,payment.id)">Reject</button> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let payment; columns: displayedColumns;"></mat-row>
</mat-table>
