<mat-toolbar>
  <div class="toolbar">
    <button *ngIf="isHome" mat-icon-button class="custom-button-size" (click)="onToggleSidenav()">
      <mat-icon style="transform: scale(3); margin-top: 20px; margin-left: 30px">menu</mat-icon>
    </button>
    <button *ngIf="!isHome" mat-icon-button class="custom-button-size" routerLink="/home">
      <mat-icon style="transform: scale(3); margin-top: 20px; margin-left: 30px">keyboard_backspace</mat-icon>
    </button>
    <img class="logo" src="assets/empty-cart.jpg" alt="">

    <div class="buttons">
      <button mat-icon-button (click)="openCartDialog()">
        <mat-icon color="warn">shopping_cart</mat-icon>
        <span [matBadge]="cartCount" matBadgeColor="accent"></span>
      </button>
      <button mat-raised-button color="primary" (click)="register()" *ngIf="!isLoginIn">Register</button>
      <button mat-raised-button color="warn" (click)="logout()" *ngIf="isLoginIn">Log out</button>
      <button mat-raised-button color="accent" (click)="login()" *ngIf="!isLoginIn">Login</button>
    </div>
  </div>
</mat-toolbar>
