
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [mode]="isHandset ? 'over' : 'side'" [opened]="!isHandset" [fixedInViewport]="true"
               [fixedTopGap]="toolbarHeight" [fixedBottomGap]="0">
    <mat-nav-list>
      <!-- Navigation items -->
      <div class="discountFilter">
        <mat-form-field appearance="outline" class="search">
          <input matInput placeholder="Search" (input)="SearchForProduct()" [(ngModel)]="searchQuery">
          <button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <mat-divider class="discountFilter" ></mat-divider>
      <div  class="discountFilter">
        <mat-label style="color: #260303; font-size: medium; font-family: Roboto, sans-serif">Category Filter :</mat-label>

        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilters()">
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <mat-divider class="discountFilter" ></mat-divider>
      <div class="discountFilter">
        <mat-label style="color: #260303; font-size: medium; font-family: Roboto, sans-serif">Discount (Min-Max) Filter :</mat-label>

        <mat-form-field>
          <mat-label>Min Discount</mat-label>
          <input matInput type="number" [(ngModel)]="minDiscountValue" (input)="applyFilters()">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Max Discount</mat-label>
          <input matInput type="number" [(ngModel)]="maxDiscountValue" (input)="applyFilters()">
        </mat-form-field>

      </div>
      <mat-divider class="discountFilter" ></mat-divider>
      <div class="discountFilter">
      <mat-label style="color: #260303; font-size: medium; font-family: Roboto, sans-serif">Price (Min-Max) Filter :</mat-label>

        <mat-form-field>
          <mat-label>Min Price</mat-label>
          <input matInput type="number" [(ngModel)]="minPrice" (input)="applyFilters()">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Max Price</mat-label>
          <input matInput type="number" [(ngModel)]="maxPrice" (input)="applyFilters()">
        </mat-form-field>

      </div>
      <!-- admin button router to admin -->
      <div class="admin">
      <mat-divider *ngIf="isAdmin" ></mat-divider>
      <button *ngIf="isAdmin"  mat-raised-button routerLink="/admin">
        <mat-icon>settings</mat-icon>
        Admin
      </button>
      <mat-divider *ngIf="isAdmin"
      ></mat-divider>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <app-toolbar [isHome]="true"></app-toolbar>


<div class="product-container" *ngIf="!isLoaded ; else loading" >
  <div *ngFor="let product of filteredProducts" class="product"  >
    <div class="discount-bar">{{ product.discount?.discount }}% OFF</div>
    <img [src]="product.image" alt="" (click)="consulteProduct(product)">
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p class="price"
         [ngClass]="product.discount?.discount != 0? 'strick-through ':''">{{ product.price | currency }}</p>
      <p class="discounted-price" *ngIf="product.discount?.discount!=0">{{ getDiscount(product) | currency }}</p>
    </div>
    <app-rating-static [SelectedStart]="product.rating"></app-rating-static>
    <button mat-raised-button color="accent" class="add-cart-button" (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>
<footer>
  <div class="footer-container">
    <div class="about-us">
      <h3>About Us</h3>
      <p>
        We are a leading e-commerce platform providing a seamless shopping experience to our customers.
      </p>
      <button>Learn more</button>
    </div>
    <div class="quick-links">
      <h3>Quick Links</h3>
      <a href="#">Home</a>
      <a href="#">Shop</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
    </div>
    <div class="contact-us">
      <h3>Contact Us</h3>
      <p>123 Street Road, City, State, 12345</p>
      <p>info@ecommerce.com</p>
      <p>(123) 456-7890</p>
    </div>
    <div class="follow-us">
      <h3>Follow Us</h3>
      <div>
        <a href="#">
          <span>Facebook</span>
        </a>
        <a href="#">
          <span>Instagram</span>
        </a>
        <a href="#">
          <span>Twitter</span>
        </a>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="copyright">
    <p>© 2023 E-Commerce. All rights reserved.</p>
  </div>
</footer>
<ng-template #loading  >
  <div class="spinner-hover-the-back-ground">
  <mat-spinner></mat-spinner></div>
</ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
