
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [mode]="isHandset ? 'over' : 'side'" [opened]="isHandset" [fixedInViewport]="true"
               [fixedTopGap]="toolbarHeight" [fixedBottomGap]="0">
    <mat-nav-list>
      <!-- Navigation items -->
      <div class="discountFilter">
        <mat-form-field appearance="outline" class="search">
          <input matInput placeholder="Search" (input)="SearchForProduct()" [(ngModel)]="searchQuery">
          <button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <mat-divider class="discountFilter" ></mat-divider>
      <div  class="discountFilter">
        <mat-label style="color: #260303; font-size: medium; font-family: Roboto, sans-serif; margin-bottom: 10px">Category Filter :</mat-label>

        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilters()">
            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <mat-divider class="discountFilter" ></mat-divider>
      <div class="discountFilter">
        <mat-label style="color: #260303; font-size: medium; font-family: Roboto, sans-serif; margin-bottom: 10px">Discount (Min-Max) Filter :</mat-label>

        <mat-form-field appearance="outline">
          <mat-label>Min Discount</mat-label>
          <input matInput type="number" [(ngModel)]="minDiscountValue" (input)="applyFilters()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Max Discount</mat-label>
          <input matInput type="number" [(ngModel)]="maxDiscountValue" (input)="applyFilters()">
        </mat-form-field>

      </div>
      <mat-divider class="discountFilter" ></mat-divider>
      <div class="discountFilter">
      <mat-label style="color: #260303; font-size: medium; font-family: Roboto, sans-serif; margin-bottom: 10px">Price (Min-Max) Filter :</mat-label>

        <mat-form-field appearance="outline">
          <mat-label>Min Price</mat-label>
          <input matInput type="number" [(ngModel)]="minPrice" (input)="applyFilters()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Max Price</mat-label>
          <input matInput type="number" [(ngModel)]="maxPrice" (input)="applyFilters()">
        </mat-form-field>

      </div>
      <!-- admin button router to admin -->
      <div class="admin">
      <mat-divider *ngIf="isAdmin" ></mat-divider>
      <button *ngIf="isAdmin"  mat-raised-button routerLink="/admin">
        <mat-icon>settings</mat-icon>
        Admin
      </button>
      <mat-divider *ngIf="isAdmin"
      ></mat-divider>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <app-toolbar [isHome]="true"></app-toolbar>


<div class="product-container" *ngIf="!isLoaded ; else loading" >
  <div *ngFor="let product of filteredProducts" class="product"  >
    <div class="discount-bar">{{ product.discount?.discount }}% OFF</div>
    <img [src]="product.image" alt="" (click)="consulteProduct(product)">
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p class="price"
         [ngClass]="product.discount?.discount != 0? 'strick-through ':''">{{ product.price | currency }}</p>
      <p class="discounted-price" *ngIf="product.discount?.discount!=0">{{ getDiscount(product) | currency }}</p>
    </div>
    <app-rating-static [SelectedStart]="product.rating"></app-rating-static>
    <button mat-raised-button color="accent" class="add-cart-button" (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>
<app-footer *ngIf="!isLoaded ; else loading"></app-footer>
<ng-template #loading  >
  <div class="spinner-hover-the-back-ground">
  <mat-spinner></mat-spinner></div>
</ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
