.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; // to make sure it stays on top of other elements
background-color: #3f51b5; // a shade of blue
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;

span {
  font-weight: 800; // makes the "Dashboard" text bolder
flex-grow: 1; // allows the span to take up all available space, pushing the buttons to the right
}

button {
  margin-left: 10px;
  padding: 10px;
}

.mat-icon-button {
  position: relative;

span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff4081;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
}
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;;
  width: 500px;
  min-height: 500px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 10px;
}

.product img {
  width: 400px;
  height: 400px;
}

.product-details {
  flex-grow: 1;
  margin-top: 20px;
  text-align: center;
}

h3 {
  margin: 10px 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.discounted-price {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #ea2121;
}

.strick-through {
  text-decoration: line-through;
  color: #aaa;
}

.add-cart-button {
  margin-top: 20px;
  &:hover {
    background-color: #5bb24c;
  }
}

.discount-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background-color: #ea2121;
  color: #260303;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;;
  background-color: #3f51b5;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.copyright {
  display: flex;
  align-items: center;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #3f51b5;
  color: #fff;
  justify-content: center;

}
